# ignore everything
/*

# explicitly ignore these subdirs
cava/shaders/
cava/themes/
fish/functions/
nvchecker/newver.json
nvchecker/oldver.json
nvchecker/oldver.json~

# but not these
!.gitignore
!bat/
!beets/
!btop/
!cava/
!eza/
!fish/
!fish/completions/
!fish/conf.d/
!fish/config.fish
!fish/fun-gen/
!fnott/
!foot/
!fuzzel/
!gh/
!git/
!greetd/
!gtk-3.0/
!gtk-4.0/
!mpd/
!mpv/
!neofetch/
!niri/
!npm/
!nvchecker/
!nvchecker/nvchecker.toml
!nvim/
!obsidian/user-flags.conf
!ripgrep/
!rmpc/
!satty/
!signal-desktop-flags.conf
!swayidle/
!swaylock/
!systemd/
!udiskie/
!user-dirs.dirs
!waybar/
!wgetrc
!wireplumber/
!xdg-desktop-portal/
!yazi/
!yt-dlp/
!zsh/
!zed/
!fastfetch/
!udiskrs/
!rustidle/
!ov/
!lazygit/
!clangd/
!helix/
