binds {
  // Programs
  Mod+Space   { spawn "fuzzel"; }
  Mod+W       { spawn "pkill" "-USR1" "waybar"; }
  Mod+T       { spawn "footclient"; }
  Mod+N       { spawn "nautilus"; }
  Mod+Shift+N { spawn "footclient" "yazi"; }
  Mod+K       { spawn "keepassxc"; }
  Mod+B       { spawn "firefox-nightly"; }
  Mod+D       { spawn "vesktop"; }
  Mod+S       { spawn "signal-desktop"; }
  Mod+Shift+L { spawn "swaylock"; }
  
  // Scripts

  // Clipboard history
  Mod+Apostrophe		 { spawn "clip-history.fish"; }
  Mod+Alt+Apostrophe { spawn "clip-history.fish" "--wtype";}
  Mod+Ctrl+Alt+Apostrophe { spawn "clip-history.fish" "--wtype" "--nline"; }
  
  // Color picker
  Mod+Shift+Apostrophe	   { spawn "color-picker.fish"; }
  Mod+Alt+Shift+Apostrophe { spawn "color-picker.fish" "--wtype"; }

  // Emoji picker
  Mod+Semicolon     { spawn "emoji-picker.fish"; }
  Mod+Alt+Semicolon	{ spawn "emoji-picker.fish" "--wtype";}
  
  // Nerd font glyph picker
  Mod+Shift+Semicolon	  	{ spawn "glyph-picker.fish"; }
  Mod+Alt+Shift+Semicolon { spawn "glyph-picker.fish" "--wtype";}
  
  Mod+F4  { spawn "power-menu.fish";	}	        // Power menu
  Mod+F5  { spawn "wall-picker.fish"; }         // Wallpaper selector
  Mod+F6  { spawn "pkill" "-USR1" "rustidle"; } // Toggle idle management

  Mod+O repeat=false { toggle-overview; } // Open/close the Overview
  Mod+Q repeat=false { close-window; }    // Close window

  // Screenshot
  Mod+Shift+S { spawn-sh "niri msg screenshot-stdout interactive | satty -f -"; }
  Print       { spawn-sh "niri msg screenshot-stdout screen | satty -f -"; }
  Mod+Print   { spawn-sh "niri msg screenshot-stdout window | satty -f -"; }

  // Quit
  Mod+Shift+E     { quit; }
  Ctrl+Alt+Delete { quit; }

  // Volume keys mappings
  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  // Media keys mapping
  XF86AudioPlay  allow-when-locked=true { spawn "playerctl" "play-pause"; }
  XF86AudioPause allow-when-locked=true { spawn "playerctl" "play-pause"; }
  XF86AudioStop  allow-when-locked=true { spawn "playerctl" "stop"; }
  XF86AudioPrev  allow-when-locked=true { spawn "playerctl" "previous"; }
  XF86AudioNext  allow-when-locked=true { spawn "playerctl" "next"; }

  // Brightness key mappings
  XF86MonBrightnessUp   allow-when-locked=true { spawn "blctl.fish" "u" "5"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "blctl.fish" "d" "5"; }
}
