// Startup processes

spawn-at-startup "rustbg" "-f" "/home/sanya/.config/current_wallpaper"
spawn-at-startup "rustbg" "-f" "-n" "wallpaper-overview" "/home/sanya/.config/current_wallpaper_blurred"

spawn-at-startup "rustemp" "4500.0"
spawn-sh-at-startup "rustidle ~/.config/rustidle/config"

// spawn-at-startup "foot" "--server"
spawn-at-startup "ssh-agent" "-a" "/run/user/1000/ssh_agent.sock"
spawn-at-startup "keepassxc"

