[Unit]
Description=udiskrs automount daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskrs auto
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
